<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block title_shop %}
    {{ block.super }}
{% endblock %}

<body>
    {% block page %}
        Главная
        {% block menu %}
            {{ block.super }}
        {% endblock %}
    {% endblock %}


    {% block content %}
        {{ block.super }}
        <div class="m-3 p-2 bottom-50 start-50">
            <h3 class="display-3">Приветствуем на нашем сайте!</h3>
            <p class="lead">На этой странице могут выходить игровые новости, видео и скриншоты.</p>
            <p class="lead">Также, здесь может быть ваша реклама :)</p>
        </div>
    {% endblock %}
</body>
</html>